# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
target/

# Misc
.DS_Store
.env
.npm
*.log

# IDEs
.idea/
.vscode/
*.swp
*.iml
.classpath
.project
.settings/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
